.container {
  width: max-content;
  min-height: max-content;
  margin: 20px auto;
  border: 1px solid rgb(217, 212, 221);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content max-content;
  text-align: center;
  grid-row-gap: 10px;
}
.input {
  width: max-content;
  height: 35px;
  margin: auto;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 20px;
  text-align: center;
}
.textarea {
  padding: 10px 0px 0px 20px;
  font-size: 18px;
  outline: none;
  /* border-top: 1px solid black; */
  border: none;
  /* border-radius: 5px; */
  color: black;
}
.button {
  width: 200px;
  height: 45px;
  margin: 10px auto;
  font-size: 18px;
}
