.container {
  width: 60%;
  height: max-content;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 15px;
  padding: 20px 0px;
  margin: 20px auto;
}
.img_container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.img {
  width: 90%;
  height: 600px;
  border-radius: 15px;
}
.title_container {
  padding-left: 20px;
}
.span {
  color: #737d9b;
  padding-right: 15px;
}
.title {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #0a1331;
  padding: 20px;
}
