.container {
  width: 458px;
  height: 250px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.17);
  padding: 20px 0px;
}
.content {
  width: 60%;
  height: 100%;
  margin: auto;
}
.title_egistration {
  color: #000;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serifS;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.text {
  color: rgba(64, 58, 75, 0.6);
  font-family: Lora;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  display: block;
  padding: 20px 0px;
}
.btn_registration {
  width: 273px;
  height: 40px;
  border-radius: 7px;
  background: #985ace;
  font-size: 19px;
  border: none;
}
.title_egistration {
}
