.container {
  width: 458px;
  height: 250px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.17);
  padding: 20px 0px;
}
.title {
  width: 100%;
  height: max-content;
  color: rgba(64, 58, 75, 0.6);
  font-family: Lora;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  display: block;
  padding: 20px 20px;
}
